body {
	margin: 0;
	padding: 0;
    background-image: linear-gradient(to right, #29323c, #485563);
}
h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 64px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
}
h2{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
    font-size: 32px;
    margin: 120px;
    visibility: hidden;
}
.h2_visible{
    visibility: visible;
}
.buttons{
    position: relative;
    width: 450px;
    left: 50%;
    transform: translateX(-50%);
}
button{
    display: inline-block;
    width: 200px;
    height: 70px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    border-radius: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    outline: none;
    transition: .2s all;
}
button:hover{
    background: rgba(255, 255, 255, 0.5);
}
.clear_btn{
    width: 425px;
    height: 50px;
}